@mixin block-list {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    & > li,
    & > dt,
    & > dd,
    & > div > dt,
    & > div > dd {
        display: block;
        margin: 0;
        padding: 0;
    }
}

@mixin flex-list {
    display: flex;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    & > li,
    & > dt,
    & > dd,
    & > div > dt,
    & > div > dd {
        display: flex;
        margin: 0;
        padding: 0;
    }
}
