$gutter: steps(2.5);

$normal-phone-breakpoint: 384px;
$tablet-breakpoint: 600px;
$desktop-breakpoint: 1020px;
$normal-desktop-breakpoint: 1280px;
$large-desktop-breakpoint: 1440px;

$max-order-form-width: steps(240);

$element-border-radius-smallest: 2px;
$element-border-radius-smaller: 3px;
$element-border-radius-small: 4px;
$element-border-radius: 6px;

$dialog-border-radius: 12px;

$default-dialog-width: steps(38);
