fieldset {
    min-width: 0;
    padding: 0;
    border: 0;
    margin: 0;
}

img,
canvas,
svg {
    max-width: 100%;
    height: auto;

    vertical-align: middle;
}

svg {
    fill: currentcolor;
}

.svg {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;

    > svg {
        vertical-align: top;
        text-align: center;
    }
}

a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input,
select {
    margin: 0;
    padding: 0;
    font-weight: inherit;
}

button,
input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: inherit;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type="text"],
select,
textarea {
    width: 100%;
}

button {
    display: inline-block;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
}

// normalize placeholder
input {
    @include placeholder {
        color: inherit;
        opacity: 0.5;
    }
}

// hide spin buttons for webkit, e.g. for date, time, month, number inputs
input::-webkit-inner-spin-button {
    display: none;
}

// hide spin buttons for firefox
input[type="number"] {
    -moz-appearance: textfield;
}

table {
    border-collapse: collapse;
}
